<section class="container users">
  <div class="page-header">
    <h1>Usuários</h1>
  </div>
  <div class="table-responsve">
    <table id="users" class="table table-bordered table-hover">
      <thead>
        <th>Nome</th>
        <th>Email</th>
      </thead>
      <tbody data-no-turbolink="true">
        <% @users.each do |user| %>

          <tr data-toggle="collapse" data-target="#collapseme<%= user.id %>">
            <td><%= user.name %></td>
            <td><%= user.email %></td>
          </tr>

          <tr id="collapseme<%= user.id %>" class="collapse out">
            <td colspan="5">
              <div class="panel-group" id="accordion<%= user.id %>" role="tablist" aria-multiselectable="true">

              <% user.attractions.each do |attraction| %>
                <div class="panel panel-default">

                  <div class="panel-heading" role="tab" id="heading<%= attraction.id %>">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion<%= user.id %>" href="#collapse<%= attraction.id %>" aria-expanded="true" aria-controls="collapse<%= attraction.id %>">
                        <%= attraction.name %>
                      </a>
                    </h4>
                  </div>

                  <div id="collapse<%= attraction.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= attraction.id %>">
                    <div class="panel-body">
                      <b>Mídia:</b> <%= attraction.midia %> <br>
                      <b>Horário:</b> <%= attraction.display_date %>
                    </div>
                  </div>

                </div>
              <% end %>

              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
